<!DOCTYPE html>
<html>
<head>
    <title>RailsApiTest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'kube', media: 'all' %>

    <%= csrf_meta_tags %>
</head>
<body>

<row centered>
    <column cols="10">
        <%= yield %>

        <footer>
            <span class="label">Platform:</span>
            <span class="label label-primary" outline><%= PeopleController::PLATFORM %></span>
        </footer>
    </column>
</row>

</body>
</html>
